$contentWidth = 1300px

.theme-default-content:not(.custom){
    width: 1300px;
}

.ant-table table{
     display: inline-table !important;
}   
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    padding: 10px 5px;
}